<script src="/javascripts/materialize.min.js"></script>
<script src="/javascripts/app/domain/Mensagens/Mensagem.js" ></script>
<script src="/javascripts/app/domain/Opcoes/Opcao.js" ></script>
<script src="/javascripts/app/domain/Opcoes/Opcoes.js" ></script>
<script src="/javascripts/app/domain/Questoes/Questao.js" ></script>
<script src="/javascripts/app/domain/Questoes/Questoes.js" ></script>
<script src="/javascripts/app/domain/Exercicios/Exercicios.js" ></script>
<script src="/javascripts/app/domain/Exercicios/Exercicio.js" ></script>
<script src="/javascripts/app/controllers/OpcaoController.js"></script>
<script src="/javascripts/app/controllers/QuestaoController.js"></script>
<script src="/javascripts/app/controllers/ExercicioController.js" ></script>
<script src="/javascripts/app/ui/views/OpcoesView.js"></script>
<script src="/javascripts/app/ui/views/MensagemView.js"></script>
<script src="/javascripts/app/ui/views/ExercicioView.js"></script>
<script src="/javascripts/app/ui/views/ExercicioAlunoView.js"></script>
<script src="/javascripts/bundle.js"></script>
<footer>
    <div class="col s12" >
        <div class="foot" >
            <small>TCC - Nome do projeto</small>
        </div>
    </div>
</footer>
</body>
</html>