<script src="/javascripts/materialize.min.js"></script>
<footer>
    <div class="col s12" >
        <div class="foot" >
            <small>TCC - Nome do projeto</small>
        </div>
    </div>
</footer>
</body>
</html>