<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TCC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/javascripts/libs/pnotify/dist/PNotifyBrightTheme.css">
    <script src="/javascripts/app/ui/views/View.js"></script>
</head>
<body class="app">

    <!-- Page Layout here -->
    <div class="row">

        <div class="col s12 m12 l3">
            <ul id="slide-out" class="sidenav sidenav-fixed blue lighten-2 white-text">
                <li>
                    <div class="user-view">
                        <div class="background"><h5 class="center-align">Quizzes<h5></div>
                        <a href="#name"><span class="white-text name center-align"><%- usuario.nome %></span></a>
                        <a href="#email"><span class="white-text email center-align"><%- usuario.email %></span></a>
                    </div>
                </li>
                <li><div class="divider"></div></li>
                <li class="uppercase"><a class="white-text" href="/aluno"><i class="material-icons white-text left">home</i>Início</a></li>
                <li class="uppercase"><a class="white-text" href="/meus-quizzes"><i class="material-icons white-text left">folder</i>Meus Quizzes</a></li>
                <li class="uppercase"><a class="white-text" href="/sair"><i class="material-icons white-text left" >power_settings_new</i>Sair</a></li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>

      <div class="col s12 m12 l9">
        <!-- Teal page content  -->