<header>
    <nav>
        <ul>
            <li><a href="/professor">Início</a></li>
            <li><a href="/exercicio">Criar Exercicio</a></li>    
            <li><a href="/sair">Sair</a></li>
        </ul>    
    </nav>    
</header>