<% include partials/header %>
    <header>
        <h1>TCC</h1>
        <h4>Aconteceu algo terrível :(</h4>
        <p>Veja os detalhes do erro:</p>
        <br>
        <%- error.message %>
    </header>
    <hr>
    <p>Vamos voltar <a href="/">home page?</a> :)</p>
<% include partials/footer %>