<% include ../partials/headerProfessor %>
<section>
    <h2>Adicionar questão objetiva</h2>
    <div id="template_exercicio">
        <fieldset>
            <form>
            <label for="questao[enunciado]">Questão</label>
            <br>
            <textarea rows="5" cols="100"></textarea>
            <br>
            <div id="listaOpcoes" ></div>
            <br>
            <input type="button" value="Adicionar Opção" id="botao-adicionaOpcao" >
        </fieldset>
        <fieldset>
            <br><br>
            <input type="button" value="Salvar e Adicionar Proxima Questão">
            <input type="button" value="Finalizar Criação">            
        </fieldset>

        </form>
        
    </div>
</section>
<% include ../partials/footerProfessor %>