<% include ../partials/headerProfessor %>
<section>
    <div id="template_exercicio">
        <input type="button" value="Adicionar Opção" >
        <form>
            <label for="questao[enunciado]">Questão</label>
            <br>
            <textarea rows="5" cols="100"></textarea>

            <br>

            <label for="questao[opcao1]">Primeira opcao</label>
            <br>
            <textarea rows="5" cols="100"></textarea>

            <br>
            <input type="button" value="Adicionar Proxima Questão">
            <input type="button" value="Finalizar Criação">
        </form>
        
    </div>
</section>
<% include ../partials/footerProfessor %>