.foot {
  position: fixed;
  left: 0;
  bottom:0;
}
.alerta {
  padding: 10px;
}

@media (min-width: 768px) {
  .cboxPf{
    webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  }
}

@media (min-width: 768px) {
  #cbox{
    margin:5% 25%;
  }
}

@media (min-width: 768px) {
  #add{
    display: none;
  }
}

.input-field input:focus + label {
  color: #64B5F6 !important;
}
input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #64B5F6;
  -webkit-box-shadow: 0 1px 0 0 #64B5F6;
  box-shadow: 0 1px 0 0 #64B5F6;
}

.top-20{
  margin-top:20px
}

.left-20 {
  margin-left:20px;
}