<% include ../partials/headerProfessor %>
<header>
    <h1>Olá, <%- usuario.nome %></h1>    
</header>
<section>
    <p>Dashboard do Professor!</p>
</section>
<% include ../partials/footerProfessor %>