<% include ../partials/headerProfessor %>
<section>
    <form action="/salas" method="post">
        <input type="text" name="sala[nome]" placeholder="nome" >
        <br>
        <input type="text" name="sala[password]" placeholder="password" >
        <br>
        <input type="submit" value="Salvar" >
    </form>
</section>
<% include ../partials/footerProfessor %>