<% include ../partials/headerProfessor %>
<section>
    <div class="row">
        <form class="col s12" action="/sala/<%- sala._id %>?_method=put" method="post">
            <div class="row">
                <div class="col s12" >
                    <div class="input-field col s12">
                        <input id="nome" type="text" name="sala[nome]" value="<%- sala.nome %>" class="validate" >
                        <label for="nome">Nome</label>
                    </div>        
                    <div class="input-field col s12">
                        <input id="senha" type="text" name="sala[password]" value="<%- sala.password %>" >
                        <label for="senha">Senha</label>
                    </div>
                    <div class="col s6" >
                        <button class="btn waves-effect waves-light blue lighten-2" type="submit" name="action">Salvar
                            <i class="material-icons right">save</i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<% include ../partials/footerProfessor %>