<div id="cardFinalizado" class="row hide">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Alunos que Terminaram</span>
                <div id="tabelaFilizados" ></div>
            </div>
        </div>
    </div>
</div>
