<% include ../partials/headerProfessor %>

<div id="actions" >
    <div class="row" >
        <div class="col s12" >
            <h1 class="flow-text" ><i class="material-icons left">group</i>Salas</h1>
            <div class="divider" ></div>
        </div>
    </div>
    <div class="row" >
        <div class="col s12" >
            <div id="cardSala" ></div>
            <div id="cardQuiz" ></div>
        </div>
    </div>
    <div class="row" >
        <div id="acoesSala" ></div>
    </div>
</div>

    <section>       
        <div class="row" >
            <div class="col s12" >
                <%- include('resposta');  %>
            </div>
            <div class="col s12" >
                <%- include('finalizado'); %>
            </div>
        </div>
    </section>

<script src="/socket.io/socket.io.js" ></script>
<script src="/javascripts/app/domain/Salas/Salas.js" ></script>
<script src="/javascripts/app/domain/Salas/Sala.js" ></script>
<script src="/javascripts/app/domain/Finalizados/Finalizados.js" ></script>
<script src="/javascripts/app/domain/Finalizados/Finalizado.js" ></script>
<script src="/javascripts/app/domain/Card/Card.js" ></script>
<script src="/javascripts/app/controllers/SalaController.js" ></script>
<script src="/javascripts/app/ui/views/RespostasView.js" ></script>
<script src="/javascripts/app/ui/views/FinalizadoView.js" ></script>
<script src="/javascripts/app/ui/views/CardView.js"></script>
<script src="/javascripts/app/ui/views/AcoesSalaView.js"></script>
<script src="/javascripts/app/ui/views/TabelaRespostaView.js"></script>
<script src="/javascripts/app/ui/views/TabelaFinalizadosView.js"></script>
<script>
    const socket = io({transports: ['websocket'], upgrade: false});
    const salaController = new SalaController();

    const salas = '<%- JSON.stringify(salas) %>';
    const quizzes = '<%- JSON.stringify(quizzes) %>'

    salaController.adicionaSalas(salas);
    salaController.adicionaQuizzes(quizzes);
   
    socket.emit('create-room', '123123');
   
    socket.on('send-client', (msg) => {        
        document.getElementById('chat').innerHTML += msg;
    });

    socket.on('resposta', (sala, aluno, questao, resposta) => {
        salaController.adicionaResposta(aluno,questao,resposta);
    });

    const enviar = () => {
        const msg = document.getElementById('msg').value;
        socket.emit('send-server', sala, msg);
    };

    socket.on('notify-onlines', (aluno) => {
        salaController.adiciona(aluno, quantidade_de_questao);
    });

    socket.on('notify-offlines', (aluno) => {
        salaController.remove(aluno);
    });

    socket.on('terminou', (sala, aluno, resultado) => {
        salaController.terminou(aluno, resultado);
    });

</script>
<% include ../partials/footerProfessor %>