<table class="highlight centered responsive-table" style="display: block; overflow-x: auto; white-space: nowrap;">
    <thead>                            
        <tr>
            <th>Alunos</th>
            <% exercicio.questoes.forEach(function(questao, index) { %>
                <th>Questão #<%- index+1 %></th>                               
            <% }) %>
        </tr>
    </thead>        
    <tbody id="resposta">
        <tr>
            <td colspan="<%- quantidade_exercicio + 1 %>" >Não há alunos online</td>
        </tr>                     
    </tbody>
</table>