<% include ../partials/headerProfessor %>

    <div id="actions" >
        <div class="row" >
            <div class="col s12" >
                <h1 class="flow-text" ><i class="material-icons left">assignment</i>Quizzes</h1>
                <div class="divider" ></div>
            </div>
        </div>
    </div>    
    <section class="top-20">
        <div class="row" >
            <div class="col s12 m4">
                <ul>
                    <li><a href="/quiz/criar" class="waves-effect waves-light btn left"><i class="material-icons left">add</i>Adicionar</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <% if(quizzes){ %>
                <% quizzes.forEach(function(quiz) { %>
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4"><%- quiz.nome %></span>
                            </div>
                            <div class="card-action">
                                <form action="/quiz/<%- quiz._id %>?_method=delete" method="post" >
                                    <a href="/quiz/<%- quiz.id %>/editar" class="grey-text lighten-2 left top-2" ><i class="material-icons">edit</i>Editar</a>
                                    <button class="btn-flat waves-effect waves-light red-text left-20 font-15 fix-delete" ><i class="material-icons">delete</i>Excluir</button>
                                </form>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <div class="col s12">
                <%- include('../partials/messages', {message: 'Nenhum Quiz encontrado! :(', color: 'orange lighten-2' }); %>
                </div>
            <% } %>
        </div>
    </section>
    <section>
        <div class="col s12" >
            <div class="fixed-action-btn">
                <a id="add"  href="/exercicio/criar" class="btn-floating btn-large waves-effect waves-light blue lighten-2">
                    <i class="material-icons">add</i>
                </a>
            </div>
        </div>
    </section>
   
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems, []);
  });
</script>
<% include ../partials/footerProfessor %>