<% include ../partials/headerProfessor %>
<div class="container" >
    <header>
        <div class="row" >
            <div class="col s12" >
                <h1 class="flow-text"><i class="material-icons left">library_books</i>Editar Disciplina</h1>
            </div>
        </div>
    </header>
    <main>
        <section>
            <div class="row">
                <form class="col s12" action="/disciplina/<%- disciplina._id %>?_method=put" method="post">
                    <div class="row">
                        <div class="col s12 m6" >
                            <div class="input-field col s12">
                                <input id="nome" type="text" name="disciplina[nome]" value="<%- disciplina.nome %>" class="validate" >
                                <label for="nome">Nome</label>
                            </div>        
                            <div class="col s4" >
                                <a class="btn waves-effect waves-light grey" href="/disciplinas" >Voltar
                                    <i class="material-icons left" >arrow_back</i>
                                </a>
                            </div>
                            <div class="col s4" >
                                <button class="btn waves-effect waves-light teal lighten-2" type="submit" name="action">Salvar
                                    <i class="material-icons right">save</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
</div>
<% include ../partials/footerProfessor %>